<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="C:/Users/23490/Desktop/JumiaNG">
            <classes><class name="LogIn.LogInTests">
                <methods><include name="testLogIn"/></methods></class>
                <class name="setUp.setUpTests">
                    <methods><include name="testSetUp"/>
                    </methods>
                </class>
            </classes>
        </test>
    </suite>